

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block pageTitle %}
    INDEX
{% endblock %}

{% block pageHeadExtra %}
    <link rel="stylesheet" href="{% static 'cropper.css' %}">
    <script src="{% static 'cropper.js' %}"></script>
    <script src="{% static 'jquery-cropper.js' %}"></script>
{% endblock %}

{% block pageBody %}
    <div class="row" style="height:100%">
        <div class="col-md-12">
            <div class="modal-dialog" style="margin-bottom:0">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Login' %}</h3>

                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <h4 style="color: red">{{ error }}</h4>
                        {% endif %}
                        <form role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="{% trans 'Username or Email' %}"
                                           name="username" value="{{ username }}"
                                           autofocus="autofocus">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password"
                                           value="">
                                </div>
                                 <div class="form-group">
                                   <a href="{% url 'reset_request' %}">{% trans 'Forgot Password?' %}</a>
                                </div>
                                <button type="submit" class="btn btn-sm btn-success">{% trans 'Login' %}</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
{% block pageFootExtra %}

    <script>

    </script>
{% endblock %}